/* Variables */

/* Fuentes */

$fuente_principal : 'Raleway', san-serif;

/* Colores */

$principal: #33c3f0;

$secundario: #741d51;

$terciario: #e44e52;

$gris: #f2f2f2;

$blanco: #ffffff;

$negro: #000000;

/* Media Queries Variables*/

$telefono: 480px;

$tablet: 768px;

$desktop: 1024px;